img{
    width:100px;
}
#caja{
   width:100px;
   height: 100px;
   background-color: red;
}
#contenedor{
    width: 200px;
    height: 200px;
    border:1px solid black;
    border-radius:20px;
    padding:20px;
    margin-top:20px
}
.enterClass{
    background-color: rgb(149, 143, 120);
}

